<header class="mb-4">
    <div class="container">
        <div class="justify-content-between parent" id="icons">
            <div class="div1">
                <a style="text-decoration: none" href="https://twitter.com/EndirectoStream" target="_blank">
                    <img src="/images/EDS.svg" width="150" height="150">
                </a>
            </div>
            <div class="div2">
            </div>
            <div class="div3">
                <% for (var i=0; i<data.channelData.length; i++) { %>
                    <% 
                        const twitchLink = data.getLink(data.channelData[i], 'twitch', false);
                        const youtubeLink = data.getLink(data.channelData[i], 'youtube', false);
                        if (twitchLink && youtubeLink) {
                    %>
                        <a tabindex="0"
                            class="btn nopadded"
                            role="button" 
                            data-bs-toggle="popover" 
                            data-bs-trigger="focus" 
                            data-bs-title="Links" 
                            data-bs-placement="bottom" 
                            data-bs-content="<a href='<%= youtubeLink %>' target='_blank'><img src='/images/YT.svg' /></a><a href='<%= twitchLink %>' target='_blank'><img class='mt-3' src='/images/Twitch.svg' /></a>"
                        >
                    <% } else if (twitchLink && !youtubeLink) { %>
                        <a class="btn nopadded" href="<%= twitchLink %>" target="_blank">
                    <% } else if (!twitchLink && youtubeLink) { %>
                        <a class="btn nopadded" href="<%= youtubeLink %>" target="_blank">
                    <% } %>
                        <img class="c-icon" src="/images/<%= data.channelData[i].name %>.svg" width="50" height="50"/>
                    </a>
                <% } %>
            </div>
            </div>
    </div>
</header>