<%
  var title = "En Directo Stream";
%>
	<!DOCTYPE html>
	<html>
	<head>
	    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
		<title><%=title%></title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		<link rel="stylesheet" href="https://use.typekit.net/jhz1uoq.css">
		<link rel="stylesheet" href="/css/landing.css" /> 
		<link rel="stylesheet" type="text/css" href="/css/fullpage.css" />
		<script src="easings.min.js"></script>
		<script src="fullpage.js"></script>
	</head>
	<body>
		
		<div id="fullpage">
			<div class="section">
				<%- include('templates/maximos') %>
			</div>
			<div class="section">
				<%- include('templates/quienes_somos') %>
			</div>
			<div class="section">
				<%- include('templates/data_tiempo_real') %>
			</div>
			<div class="section">
				<%- include('templates/redes_sociales') %>
			</div>
			<div class="section">
				<%- include('templates/informes') %>
			</div>
			<div class="section">
				<%- include('templates/login_form') %>
			</div>
		</div>
		<a class="float" href="https://wa.me/+5491162104164?text=Hola%21%20Me%20contacto%20desde%20la%20web%20de%20EnDirectoStream.com">
			<i class="bi d-block bi-whatsapp my-float"></i>
		</a>
		<script src="login.js"></script>
		<script type="text/javascript">
			var myFullpage = new fullpage('#fullpage', {
				// Navigation
				menu: '#menu',
				lockAnchors: false,
				anchors:['home', 'quienes-somos', 'data-tiempo-real', 'redes-sociales', 'informes', 'login'],
				navigation: true,
				navigationPosition: 'right',
				navigationTooltips: ['Inicio', 'Quienes Somos', 'Data en Tiempo Real', 'Redes Sociales', 'Informes', 'Login'],
				showActiveTooltip: false,
				slidesNavigation: true,
				slidesNavPosition: 'bottom',

				// Scrolling
				css3: true,
				scrollingSpeed: 700,
				autoScrolling: true,
				fitToSection: true,
				fitToSectionDelay: 600,
				scrollBar: false,
				easing: 'easeInOutCubic',
				easingcss3: 'ease',
				loopBottom: false,
				loopTop: false,
				loopHorizontal: true,
				continuousVertical: false,
				continuousHorizontal: false,
				scrollHorizontally: false,
				interlockedSlides: false,
				dragAndMove: false,
				offsetSections: false,
				resetSliders: false,
				fadingEffect: false,
				normalScrollElements: '#element1, .element2',
				scrollOverflow: true,
				scrollOverflowMacStyle: true,
				scrollOverflowReset: true,
				touchSensitivity: 15,
				bigSectionsDestination: null,

				// Accessibility
				keyboardScrolling: true,
				animateAnchor: true,
				recordHistory: true,

				// Design
				controlArrows: true,
				controlArrowsHTML: [
					'<div class="fp-arrow"></div>', 
					'<div class="fp-arrow"></div>'
				],
				verticalCentered: true,
				paddingTop: '3em',
				paddingBottom: '10px',
				fixedElements: '#header, .footer',
				responsiveWidth: 0,
				responsiveHeight: 0,
				responsiveSlides: false,
				parallax: false,
				parallaxOptions: {type: 'reveal', percentage: 62, property: 'translate'},
				dropEffect: false,
				dropEffectOptions: { speed: 2300, color: '#F82F4D', zIndex: 9999},
				waterEffect: false,
				waterEffectOptions: { animateContent: true, animateOnMouseMove: true},
				cards: false,
				cardsOptions: {perspective: 100, fadeContent: true, fadeBackground: true},

				// Custom selectors
				sectionSelector: '.section',
				slideSelector: '.slide',

				lazyLoading: true,
				observer: true,
				credits: { enabled: true, label: 'Made with fullPage.js', position: 'right'},

				// Events
				beforeLeave: function(origin, destination, direction, trigger){},
				onLeave: function(origin, destination, direction, trigger){},
				afterLoad: function(origin, destination, direction, trigger){},
				afterRender: function(){},
				afterResize: function(width, height){},
				afterReBuild: function(){},
				afterResponsive: function(isResponsive){},
				afterSlideLoad: function(section, origin, destination, direction, trigger){},
				onSlideLeave: function(section, origin, destination, direction, trigger){},
				onScrollOverflow: function(section, slide, position, direction){}
			});
		</script>
	</body>
</html>